/* navbarComponent.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(20, 20, 20);
  font-size: 20px;

}
.izquierda {
  display: flex;
  align-items: flex-end ;   
  
  width: 100%;

    
}